html,
body {
    height: 100%;
}

.main {
  background: linear-gradient(45deg, #960975 0%, #140020 100%), radial-gradient(100% 225% at 100% 0%, #c528ff 0%, #000000 100%), linear-gradient(225deg, #ff0000 0%, #000000 100%), linear-gradient(135deg, #cddbff 10%, #CDFFEB 35%, #009F9D 35%, #009F9D 60%, #07456F 60%, #07456F 67%, #0F0A3C 67%, #0F0A3C 100%);
  background-blend-mode: screen, overlay, hard-light, normal;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feer-logo {
  height: 40vmin;
  pointer-events: none;
  zoom: 1.2;
}

.feer-edit {
  padding-top: 10vmin;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: #c6b81c;
}

@media (prefers-reduced-motion: no-preference) {
  .feer-logo {
      animation: feer-logo-spin infinite 10s linear;
  }
}

@keyframes feer-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}